.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
}
.casa {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  background-color: #222;
  border: 2px solid #555;
  cursor: pointer;
  color: #00f0ff;
}
.casa.o {
  color: #ff0080;
}
